@model TRS2._0.Models.ViewModels.PeriodDetailsViewModel

<div class="table-responsive mx-3 mb-4">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="nombre-columna"></th>
                @foreach (var monthDetail in Model.MonthDetails)
                {
                    <th> 
                        <div style="border-bottom: 1px solid white; margin-bottom: 2px; margin-top: 8px; text-align: center">@monthDetail.Key</div>
                        <div style="text-align: center">@monthDetail.Value</div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.Persons)
            {
                <tr>
                    <td>@(person.Name + " " + person.Surname)</td>
                    <!-- Rellenar las celdas correspondientes a la participación de la persona en los WP -->
                </tr>
            }
        </tbody>
    </table>

</div>

<style>

    .nombre-columna {
        min-width: 200px; /* Ajusta según necesites */
    }


</style>