@model TRS2._0.Models.ViewModels.PeriodDetailsViewModel

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th></th>
                @foreach (var monthDetail in Model.MonthDetails)
                {
                    <th>
                        @monthDetail.Key <!-- Muestra el índice del mes -->
                        <br>
                        @monthDetail.Value <!-- Muestra el nombre del mes y el año -->
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.Persons)
            {
                <tr>
                    <td>@(person.Name + " " + person.Surname)</td>
                    <!-- Rellenar las celdas correspondientes a la participación de la persona en los WP -->
                </tr>
            }
        </tbody>
    </table>

</div>

