@model TRS2._0.Models.DataModels.Personnel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Personnel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BscId" class="control-label"></label>
                <input asp-for="BscId" class="form-control" />
                <span asp-validation-for="BscId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="Department" class ="form-control" asp-items="ViewBag.Department"></select>
            </div>
            <div class="form-group">
                <label asp-for="Affiliation" class="control-label"></label>
                <input asp-for="Affiliation" class="form-control" />
                <span asp-validation-for="Affiliation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resp" class="control-label"></label>
                <input asp-for="Resp" class="form-control" />
                <span asp-validation-for="Resp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelGroup" class="control-label"></label>
                <input asp-for="PersonnelGroup" class="form-control" />
                <span asp-validation-for="PersonnelGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="A3code" class="control-label"></label>
                <input asp-for="A3code" class="form-control" />
                <span asp-validation-for="A3code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
